body {

  margin: 0;
  font-family: Arial, sans-serif;

  background:
  linear-gradient(135deg, #667eea, #764ba2);

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {

  width: 500px;

  background: white;
  padding: 25px;

  border-radius: 20px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.top-bar {

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-section {

  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-bottom: 20px;
}

input {

  padding: 12px;

  border-radius: 10px;
  border: 1px solid #ccc;

  outline: none;
}

button {

  padding: 10px;

  border: none;
  border-radius: 10px;

  color: white;
  cursor: pointer;

  font-weight: bold;
}

#addBtn {

  background: #4CAF50;
}

#themeBtn {

  background: #333;
}

.edit-btn {

  background: orange;
  margin-right: 5px;
}

.delete-btn {

  background: red;
}

li {

  list-style: none;

  background: #f4f4f4;

  margin-bottom: 10px;
  padding: 15px;

  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-info {

  display: flex;
  flex-direction: column;
}

.btn-group {

  display: flex;
}

.completed {

  text-decoration: line-through;
  color: gray;
}

.dark {

  background:
  linear-gradient(135deg, #111, #222);
}

.dark .container {

  background: #333;
  color: white;
}

.dark li {

  background: #444;
}

.dark input {

  background: #555;
  color: white;

  border: none;
}